<?xml version="1.0"?>
<robot xmlns:xacro="httd://ros.org/wiki/xacro">
    
    <xacro:macro name="swerve_drive_gazebo_v0" params="prefix">
        <!-- steering-->
        <gazebo reference="${prefix}_steering_link">
            <selfCollide>false</selfCollide>
            <mu1 value="0.4" />
            <mu2 value="0.4" />
            <kp>1e8</kp>
            <kd>1e8</kd>
        </gazebo>
        <!-- wheel-->
        <gazebo reference="${prefix}_wheel_link">
            <selfCollide>false</selfCollide>
            <mu1 value="0.4" />
            <mu2 value="0.4" />
            <kp>1e8</kp>           
            <kd>1e8</kd>
        </gazebo>
    </xacro:macro>

</robot>